@model List<Investimento>

@{
	ViewData["Title"] = "Investimentos";
}

<h1>Investimentos</h1>

<a asp-action="cadastrar" class="btn btn-sm btn-outline-dark">Cadastrar</a>

<table class="table table-striped">
	<tr>
		<th>Titulo</th>
		<th>Data</th>
		<th>Tipo</th>
		<th>Objetivo</th>
		<th>Capital Investido</th>
		<th>Rendimento</th>
		<th></th>
	</tr>
	@foreach (var investimento in Model)
	{
		<tr>
			<td>@investimento.Titulo</td>
			<td>@investimento.Data</td>
			<td>@investimento.Tipo.GetDisplayName()</td>
			<td>@investimento.Objetivo</td>
			<td>@investimento.CapitalInvestido</td>
			<td>@investimento.Rendimento</td>
			<td>
                <a asp-action="editar" asp-route-id="@investimento.Codigo" class="btn btn-sm"><i class="fa fa-solid fa-pen"></i></a>
            </td>
		</tr>
	}
</table>
