@model List<Carro>


<h1>Lista de carros</h1>

<a asp-action="cadastrar" class="btn btn-sm btn-outline-dark">Cadastrar</a>

<table class="table">
    <tr>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Cambio</th>
        <th>Fabricante</th>
        <th>Combustível</th>
        <th>Valor</th>
        <th></th>
    </tr>

    @foreach(var carro in Model)
    {
        <tr>
            <td>@carro.Modelo</td>
            <td>@carro.Ano</td>
            <td>@(carro.Automatico?"Automático":"Manual")</td>
            <td>@carro.Fabricante</td>
            <td>@carro.Combustivel</td>
            <td>@carro.Valor</td>
            <td>
                <a asp-action="editar" asp-route-id="@carro.Codigo" class="btn btn-sm"><i class="fa fa-solid fa-pen"></i></a>
                <button onclick="carroId.value = @carro.Codigo" type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa fa-solid fa-trash"></i>
                </button>
            </td>

        </tr>
    }
</table>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja mesmo excluir?
            </div>
            <div class="modal-footer">
                <form asp-action= "excluir">
                    <input name="id" type="hidden" id="carroId"/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>
