@model List<Investimento>

@{
    ViewData["Title"] = "Investimentos";
}

<h1>Investimentos</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<form class="row row-cols-lg-auto g-3 mb-3 align-items-center">
    <div class="col-12">
        <input type="text" name="termoPesquisa" class="form-control" placeholder="Digite o nome" />
    </div>
    <div class="col-12">
        <button class="btn btn-success">Pesquisar</button>
    </div>
</form>

<table class="table table-striped">
    <tr>
        <th>Nome</th>
        <th>Data</th>
        <th>Tipo</th>
        <th>Capital Investido</th>
        <th>Rendimento</th>
        <th>Status</th>
        <th>Corretora</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Data</td>
            <td>@item.Tipo</td>
            <td>@item.CapitalInvestido</td>
            <td>@item.Rendimento</td>
            <td>@item.StatusInvestimento?.Status</td>
            <td>@item.Corretora?.Nome</td>
            <td>
                <a asp-action="editar" class="btn btn-dark btn-sm"
               asp-route-id="@item.InvestimentoId">Editar</a>
                <!-- Button trigger modal -->
                <button onclick="InvestimentoId.value = @item.InvestimentoId" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>
                 <a asp-action="detalhar" class="btn btn-warning btn-sm"
                                 asp-route-id="@item.InvestimentoId">Detalhes</a>
            </td>
        </tr>
    }
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o investimento?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input name="id" type="hidden" id="InvestimentoId"/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>